In [1]:
import os

from dotenv import load_dotenv

# Explicitly providing path to '.env'
from pathlib import Path  # Python 3.6+ only
# Load .env variables
_ = load_dotenv(dotenv_path=f"{Path().resolve().parents[1]}/standalone/.env")

import import_ipynb
from utils import to_timestamp, df_data_sensors, to_be_checked, is_corr_ok, df_to_csv, df_from_csv

importing Jupyter notebook from utils.ipynb
importing Jupyter notebook from aqi_epa_pm25.ipynb
PM2.5: 35.9, AQI: 102
PM2.5: 35.9, Measure Level: MeasureLevels.UNHEALTHY_FOR_SENSITIVE_GROUPS, Range Values: Min: 35.5, Max: 55.4
AQI: 102, Measure Level: MeasureLevels.UNHEALTHY_FOR_SENSITIVE_GROUPS, Range Values: Min: 101, Max: 150

## Humidity Raw Data

In [2]:
# Load Tangaras
df_tangaras = df_from_csv("tangaras.csv", dtindex=False)

print(f"Total Tangara Sensors: {len(df_tangaras)}")

df_tangaras.head()

Total Tangara Sensors: 13

,ID,GEOHASH,MAC,GEOLOCATION,LATITUDE,LONGITUDE
0,TANGARA_2BBA,d29e6b4,D29ESP32DE02BBA,3.3844757080078125 -76.51634216308594,3.384476,-76.516342
1,TANGARA_260A,d29edyj,D29ESP32DE1260A,3.4613800048828125 -76.51222229003906,3.461380,-76.512222
2,TANGARA_4B1A,d29esj8,D29ESP32DE94B1A,3.4586334228515625 -76.46415710449219,3.458633,-76.464157
3,TANGARA_1EE6,d29edh3,D29ESP32DED1EE6,3.4517669677734375 -76.55067443847656,3.451767,-76.550674
4,TANGARA_2B42,d29e6pg,D29ESP32DED2B42,3.4270477294921875 -76.54792785644531,3.427048,-76.547928

In [3]:
# Start Date Time ISO 8601 Format, TZ='America/Bogota' -05:00
START_ISO8601_DATETIME=os.getenv("START_ISO8601_DATETIME", None)
start_timestamp = to_timestamp(START_ISO8601_DATETIME)
# End Date Time ISO 8601 Format, TZ='America/Bogota' -05:00
END_ISO8601_DATETIME=os.getenv("END_ISO8601_DATETIME", None)
end_timestamp = to_timestamp(os.getenv("END_ISO8601_DATETIME", None))

print(f'Since: {START_ISO8601_DATETIME} -> {start_timestamp}, Until: {END_ISO8601_DATETIME} -> {end_timestamp}')

Since: 2023-10-05T19:17:08-05:00 -> 1696551428000, Until: 2023-10-05T20:17:08-05:00 -> 1696555028000

In [4]:
# Humidity Data Frame Sensors
df_hum_raw = df_data_sensors(df_tangaras, start_timestamp, end_timestamp, 'hum')
df_hum_raw.head()
#df_hum_raw.shape

,TANGARA_2BBA,TANGARA_260A,TANGARA_4B1A,TANGARA_1EE6,TANGARA_2B42,TANGARA_2E9A,TANGARA_2FF6,TANGARA_307A,TANGARA_1712,TANGARA_48C6,TANGARA_532E,TANGARA_F1AE,TANGARA_06BE
DATETIME,,,,,,,,,,,,,
2023-10-05 19:17:00-05:00,0.0,43.80,54.54,NaN,NaN,51.64,53.45,52.35,60.87,NaN,78.6,NaN,NaN
2023-10-05 19:17:30-05:00,0.0,43.43,54.44,46.51,49.51,51.76,53.57,52.37,61.28,97.9,NaN,42.16,47.32
2023-10-05 19:18:00-05:00,0.0,43.83,54.53,46.52,49.56,51.75,53.56,51.93,60.12,97.9,78.6,42.15,48.38
2023-10-05 19:18:30-05:00,0.0,43.57,54.57,46.46,49.39,51.78,53.68,51.87,59.91,97.9,78.6,42.16,47.62
2023-10-05 19:19:00-05:00,0.0,43.81,54.42,46.45,49.41,51.80,53.84,51.92,60.94,97.9,78.6,42.11,48.35

## Descriptive Statistics

In [5]:
# Describe Data
df_hum_raw.describe()

,TANGARA_2BBA,TANGARA_260A,TANGARA_4B1A,TANGARA_1EE6,TANGARA_2B42,TANGARA_2E9A,TANGARA_2FF6,TANGARA_307A,TANGARA_1712,TANGARA_48C6,TANGARA_532E,TANGARA_F1AE,TANGARA_06BE
count,111.0,108.000000,107.00000,107.000000,109.000000,107.000000,108.000000,106.00000,108.000000,103.000000,107.000000,110.000000,107.000000
mean,0.0,44.732407,55.51028,45.995701,50.264495,51.861121,55.882500,52.24500,61.825741,97.757282,78.396262,42.581091,48.645047
std,0.0,2.600186,1.73939,0.261542,0.821707,0.415457,1.850017,0.50393,0.829787,0.736127,0.328210,0.556691,1.085843
min,0.0,42.630000,53.61000,45.640000,48.950000,51.400000,53.450000,51.40000,59.910000,96.900000,78.000000,42.080000,46.830000
25%,0.0,43.177500,54.13000,45.750000,49.510000,51.600000,54.685000,51.83250,61.310000,97.100000,78.200000,42.280000,47.905000
50%,0.0,43.530000,54.58000,45.940000,50.140000,51.680000,55.485000,52.24500,61.890000,97.500000,78.300000,42.360000,48.450000
75%,0.0,45.137500,57.65500,46.210000,51.190000,51.995000,56.367500,52.62750,62.367500,98.000000,78.500000,42.530000,48.925000
max,0.0,52.300000,58.54000,46.520000,51.730000,53.030000,59.920000,53.21000,64.040000,99.900000,79.300000,44.290000,51.910000

## Missing Data

In [6]:
# Missing Data Threshold
threshold = 90
print(f'Threshold: {threshold}%')

# For each Tangara sensor
for id_tangara_sensor in df_hum_raw.columns:
    df_hum_sensor = df_hum_raw[[id_tangara_sensor]]
    # To be checked
    is_ok, data_percent, missing_data_percent = to_be_checked(df_hum_sensor, threshold)
    if not is_ok:
        print(f"Tangara Sensor: {id_tangara_sensor}, Data: {data_percent}%, Missing: {missing_data_percent}%, To be checked")

Threshold: 90%
Tangara Sensor: TANGARA_260A, Data: 89%, Missing: 11%, To be checked
Tangara Sensor: TANGARA_4B1A, Data: 88%, Missing: 12%, To be checked
Tangara Sensor: TANGARA_1EE6, Data: 88%, Missing: 12%, To be checked
Tangara Sensor: TANGARA_2E9A, Data: 88%, Missing: 12%, To be checked
Tangara Sensor: TANGARA_2FF6, Data: 89%, Missing: 11%, To be checked
Tangara Sensor: TANGARA_307A, Data: 88%, Missing: 12%, To be checked
Tangara Sensor: TANGARA_1712, Data: 89%, Missing: 11%, To be checked
Tangara Sensor: TANGARA_48C6, Data: 85%, Missing: 15%, To be checked
Tangara Sensor: TANGARA_532E, Data: 88%, Missing: 12%, To be checked
Tangara Sensor: TANGARA_06BE, Data: 88%, Missing: 12%, To be checked

## Data Correlation

In [7]:
# Data Correlation Threshold
threshold = 0.9
print(f'Threshold: {threshold}%')

ID_REFE_TANGARA_SENSOR='TANGARA_06BE'
ID_TARG_TANGARA_SENSOR='TANGARA_2FF6'
# Reference Tangara Sensor
df_reference_sensor = df_hum_raw[ID_REFE_TANGARA_SENSOR]
# Target Tangara Sensor
df_target_sensor = df_hum_raw[ID_TARG_TANGARA_SENSOR]

# To be checked
is_ok, corr = is_corr_ok(df_reference_sensor, df_target_sensor, threshold)
if not is_ok:
    print(f"Reference Tangara Sensor: {ID_REFE_TANGARA_SENSOR}, Target Tangara Sensor: {ID_TARG_TANGARA_SENSOR}, Correlation: {corr}, To be checked")

# For each Tangara sensor
# for id_tangara_sensor in df_hum_raw.columns:
#     # Target Tangara Sensor
#     df_target_sensor = df_hum_raw[id_tangara_sensor]
#     # To be checked
#     is_ok, corr = is_corr_ok(df_reference_sensor, df_target_sensor, threshold)
#     if not is_ok:
#         print(f"Reference Tangara Sensor: {ID_REFE_TANGARA_SENSOR}, Target Tangara Sensor: {id_tangara_sensor}, Correlation: {corr}, To be checked")

Threshold: 0.9%
Reference Tangara Sensor: TANGARA_06BE, Target Tangara Sensor: TANGARA_2FF6, Correlation: 0.0, To be checked

In [8]:
# Save Humidity Data Frame Sensors into CSV file
df_to_csv(df_hum_raw, "hum_raw.csv")