In [1]:
import os
import pandas as pd
from dotenv import load_dotenv

# Explicitly providing path to '.env'
from pathlib import Path  # Python 3.6+ only
# Load .env variables
_ = load_dotenv(dotenv_path=f"{Path().resolve().parents[1]}/standalone/.env")

# with the new api
from importnb import imports
with imports("ipynb"):
    from utils import df_from_csv, df_pm25_to_df_aqi, plot_hist, plot_boxes, plot_lines, df_to_csv

PM2.5: 35.9, AQI: 102
PM2.5: 35.9, Measure Level: MeasureLevels.UNHEALTHY_FOR_SENSITIVE_GROUPS, Range Values: Min: 35.5, Max: 55.4
AQI: 102, Measure Level: MeasureLevels.UNHEALTHY_FOR_SENSITIVE_GROUPS, Range Values: Min: 101, Max: 150

## PM2.5 to AQI

In [2]:
# Load Raw Data
df_pm25_clean = df_from_csv("pm25_clean.csv", datafolder="1_clean")

# Check Data Types
print(df_pm25_clean.dtypes)

# Sorting by Descending
df_pm25_clean = df_pm25_clean.sort_values(by='DATETIME', ascending=False)

df_pm25_clean.head()

TANGARA_260A    float64
TANGARA_2BDE    float64
TANGARA_39D6    float64
TANGARA_3B7E    float64
TANGARA_3BEA    float64
TANGARA_421A    float64
TANGARA_5D62    float64
TANGARA_5636    float64
TANGARA_D282    float64
TANGARA_4B1A    float64
TANGARA_14D6    float64
TANGARA_2B42    float64
TANGARA_2E9A    float64
TANGARA_2FF6    float64
TANGARA_307A    float64
TANGARA_48C6    float64
TANGARA_F1AE    float64
TANGARA_06BE    float64
dtype: object

,TANGARA_260A,TANGARA_2BDE,TANGARA_39D6,TANGARA_3B7E,TANGARA_3BEA,TANGARA_421A,TANGARA_5D62,TANGARA_5636,TANGARA_D282,TANGARA_4B1A,TANGARA_14D6,TANGARA_2B42,TANGARA_2E9A,TANGARA_2FF6,TANGARA_307A,TANGARA_48C6,TANGARA_F1AE,TANGARA_06BE
DATETIME,,,,,,,,,,,,,,,,,,
2023-11-18 23:59:30-05:00,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,5.0,NaN
2023-11-18 23:59:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,5.0,NaN
2023-11-18 23:58:30-05:00,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,6.0,10.0,5.0,8.0,7.0,7.0,4.0,7.0
2023-11-18 23:58:00-05:00,7.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,4.0,6.0,11.0,5.0,8.0,8.0,7.0,5.0,8.0
2023-11-18 23:57:30-05:00,7.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,4.0,6.0,11.0,6.0,7.0,8.0,6.0,4.0,8.0

## Descriptive Statistics

In [3]:
# Describe Data
df_pm25_clean.describe()

,TANGARA_260A,TANGARA_2BDE,TANGARA_39D6,TANGARA_3B7E,TANGARA_3BEA,TANGARA_421A,TANGARA_5D62,TANGARA_5636,TANGARA_D282,TANGARA_4B1A,TANGARA_14D6,TANGARA_2B42,TANGARA_2E9A,TANGARA_2FF6,TANGARA_307A,TANGARA_48C6,TANGARA_F1AE,TANGARA_06BE
count,5592.000000,1288.000000,1.0,1267.000000,1285.000000,1314.000000,2045.000000,1294.000000,1400.000000,5544.000000,5557.000000,4683.000000,4742.000000,5585.000000,5435.000000,5527.000000,5582.000000,5562.000000
mean,8.286302,5.202640,19.0,4.321231,4.178210,4.088280,4.605379,5.967543,5.275000,9.759740,9.175814,7.331839,7.671447,7.623456,7.764121,6.363307,7.907381,9.238403
std,4.591809,2.810253,NaN,2.447919,2.149076,2.051834,2.018086,3.391979,2.983529,6.905015,5.269880,3.873654,5.438970,3.707354,3.385044,4.104509,4.585627,4.351320
min,1.000000,1.000000,19.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000
25%,5.000000,3.000000,19.0,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,5.000000,5.000000,3.000000,5.000000,5.000000,3.000000,4.000000,6.000000
50%,8.000000,4.000000,19.0,4.000000,4.000000,3.000000,4.000000,5.000000,4.000000,8.000000,9.000000,8.000000,7.000000,8.000000,8.000000,6.000000,7.000000,9.000000
75%,11.000000,7.000000,19.0,6.000000,5.000000,5.000000,6.000000,8.000000,7.000000,14.000000,12.000000,10.000000,10.000000,10.000000,10.000000,9.000000,11.000000,12.000000
max,20.000000,13.000000,19.0,12.000000,10.000000,10.000000,10.000000,15.000000,13.000000,31.000000,25.000000,17.000000,23.000000,17.000000,17.000000,18.000000,21.000000,21.000000

## Group by hour on DATETIME and resample by mean

In [4]:
# Resample mean grouping by hour on DATETIME
df_pm25_clean = df_pm25_clean.resample('H').mean()

# Sorting by Descending
df_pm25_clean = df_pm25_clean.sort_values(by='DATETIME', ascending=False)

df_pm25_clean.head()

,TANGARA_260A,TANGARA_2BDE,TANGARA_39D6,TANGARA_3B7E,TANGARA_3BEA,TANGARA_421A,TANGARA_5D62,TANGARA_5636,TANGARA_D282,TANGARA_4B1A,TANGARA_14D6,TANGARA_2B42,TANGARA_2E9A,TANGARA_2FF6,TANGARA_307A,TANGARA_48C6,TANGARA_F1AE,TANGARA_06BE
DATETIME,,,,,,,,,,,,,,,,,,
2023-11-18 23:00:00-05:00,5.711864,NaN,NaN,NaN,NaN,NaN,3.757576,NaN,NaN,9.948718,5.881356,9.400000,3.282051,9.711864,7.406780,6.771186,3.566667,7.805085
2023-11-18 22:00:00-05:00,8.100000,NaN,NaN,NaN,NaN,NaN,4.797872,NaN,NaN,10.188235,10.364407,4.941176,1.066667,7.191667,7.975000,2.483333,5.800000,7.150000
2023-11-18 21:00:00-05:00,5.458333,NaN,NaN,NaN,NaN,NaN,5.525773,NaN,NaN,9.157895,7.864407,2.924370,1.191667,7.650000,8.650000,1.756303,6.458333,8.708333
2023-11-18 20:00:00-05:00,5.394958,NaN,NaN,NaN,NaN,NaN,7.600000,NaN,NaN,4.907563,4.672269,1.352941,1.445378,3.899160,6.210084,3.075630,4.350000,5.134454
2023-11-18 19:00:00-05:00,4.177966,NaN,NaN,NaN,NaN,NaN,5.834951,NaN,NaN,7.237288,5.620690,1.941667,4.863248,4.186441,5.542373,4.152542,4.908333,6.898305

## Descriptive Statistics

In [5]:
# Describe Data
df_pm25_clean.describe()

,TANGARA_260A,TANGARA_2BDE,TANGARA_39D6,TANGARA_3B7E,TANGARA_3BEA,TANGARA_421A,TANGARA_5D62,TANGARA_5636,TANGARA_D282,TANGARA_4B1A,TANGARA_14D6,TANGARA_2B42,TANGARA_2E9A,TANGARA_2FF6,TANGARA_307A,TANGARA_48C6,TANGARA_F1AE,TANGARA_06BE
count,48.000000,14.000000,1.0,14.000000,13.000000,14.000000,21.000000,13.000000,14.000000,48.000000,48.000000,42.000000,41.000000,48.000000,48.000000,48.000000,48.000000,48.000000
mean,8.447567,5.319842,19.0,4.476614,4.118762,4.347392,4.693792,6.301873,5.095003,9.796082,9.347547,7.587935,7.693085,7.818220,7.925845,6.527304,8.083240,9.516885
std,4.417606,3.197856,NaN,2.827267,2.132170,2.449175,2.045931,3.950877,3.012304,5.892834,5.046407,3.764914,5.137887,3.610962,3.007240,3.646002,4.309746,4.347262
min,1.608333,2.521008,19.0,2.067797,2.232759,2.157895,2.301724,2.598291,2.456897,1.775000,1.529915,0.900000,1.066667,0.691667,2.369748,0.584746,1.516667,1.508333
25%,5.189583,2.992915,19.0,2.562500,2.607143,2.593106,3.008547,3.116071,2.934783,5.593109,5.420302,5.493750,3.282051,5.615109,5.394068,3.684034,4.329727,6.851190
50%,8.304797,3.850470,19.0,3.172336,3.155172,3.194163,4.257426,5.175000,3.648749,8.051560,9.089852,8.324704,7.201681,7.916176,7.546795,6.300000,7.184874,9.275805
75%,10.953852,6.738839,19.0,5.582127,4.824561,5.337488,5.633929,8.333333,6.292703,12.711683,12.428233,9.833686,10.075630,10.610988,10.317628,8.655672,10.893750,11.989583
max,19.121212,12.428571,19.0,11.333333,8.910112,10.000000,9.671429,14.375000,12.247312,23.825000,20.368932,16.705882,20.451327,16.636364,14.892857,16.302326,17.504348,20.733333

## Movil 24h, Rolling Function in Pandas

In [6]:
# Movil 24h, Rolling Function in Pandas
df_pm25_clean = df_pm25_clean.rolling(window=24, min_periods=1).mean()

df_pm25_clean.head()

,TANGARA_260A,TANGARA_2BDE,TANGARA_39D6,TANGARA_3B7E,TANGARA_3BEA,TANGARA_421A,TANGARA_5D62,TANGARA_5636,TANGARA_D282,TANGARA_4B1A,TANGARA_14D6,TANGARA_2B42,TANGARA_2E9A,TANGARA_2FF6,TANGARA_307A,TANGARA_48C6,TANGARA_F1AE,TANGARA_06BE
DATETIME,,,,,,,,,,,,,,,,,,
2023-11-18 23:00:00-05:00,5.711864,NaN,NaN,NaN,NaN,NaN,3.757576,NaN,NaN,9.948718,5.881356,9.400000,3.282051,9.711864,7.406780,6.771186,3.566667,7.805085
2023-11-18 22:00:00-05:00,6.905932,NaN,NaN,NaN,NaN,NaN,4.277724,NaN,NaN,10.068477,8.122881,7.170588,2.174359,8.451766,7.690890,4.627260,4.683333,7.477542
2023-11-18 21:00:00-05:00,6.423399,NaN,NaN,NaN,NaN,NaN,4.693740,NaN,NaN,9.764949,8.036723,5.755182,1.846795,8.184510,8.010593,3.670274,5.275000,7.887806
2023-11-18 20:00:00-05:00,6.166289,NaN,NaN,NaN,NaN,NaN,5.420305,NaN,NaN,8.550603,7.195610,4.654622,1.746441,7.113173,7.560466,3.521613,5.043750,7.199468
2023-11-18 19:00:00-05:00,5.768624,NaN,NaN,NaN,NaN,NaN,5.503235,NaN,NaN,8.287940,6.880626,4.112031,2.369802,6.527826,7.156847,3.647799,5.016667,7.139235

## Descriptive Statistics

In [7]:
# Describe Data
df_pm25_clean.describe()

,TANGARA_260A,TANGARA_2BDE,TANGARA_39D6,TANGARA_3B7E,TANGARA_3BEA,TANGARA_421A,TANGARA_5D62,TANGARA_5636,TANGARA_D282,TANGARA_4B1A,TANGARA_14D6,TANGARA_2B42,TANGARA_2E9A,TANGARA_2FF6,TANGARA_307A,TANGARA_48C6,TANGARA_F1AE,TANGARA_06BE
count,48.000000,41.000000,19.0,41.000000,41.000000,41.000000,48.000000,39.000000,41.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.396303,4.949977,19.0,4.178040,3.995220,4.078896,4.867217,5.417280,4.760155,8.103585,7.983509,6.827637,6.172950,7.099980,7.279677,5.669090,6.660701,8.460884
std,1.087813,2.065670,0.0,1.722398,1.430044,1.549260,0.940448,2.385110,1.902697,2.346376,1.310056,0.899770,1.762619,0.988023,0.754283,0.984893,1.365027,1.075487
min,5.429409,2.750000,19.0,2.415865,2.494620,2.519249,3.757576,2.873793,2.862963,5.860102,5.881356,4.112031,1.746441,6.047083,6.349555,3.521613,3.566667,7.017248
25%,6.879549,2.965716,19.0,2.491924,2.588985,2.560834,3.995718,2.957655,2.909634,6.359071,7.215571,6.402342,5.628181,6.416546,6.653745,5.343836,6.060725,7.798620
50%,7.278526,4.291382,19.0,3.548580,3.719483,3.550186,4.563164,4.985996,4.118476,7.075025,7.613565,7.103353,6.022987,6.683308,7.099190,5.718564,6.411763,8.094695
75%,7.744690,7.673967,19.0,6.461305,5.903503,6.133951,5.579365,8.392009,7.280372,9.810891,8.253105,7.353345,7.315521,7.466902,7.612362,6.026078,6.825258,8.859116
max,9.855561,8.249931,19.0,6.972123,6.331476,6.559946,7.166580,8.990606,7.809127,13.577761,11.424793,9.400000,8.812660,9.711864,9.207865,7.710433,10.100226,11.136399

## Filter just the last 24 hours

In [8]:
# Sorting by Ascending
df_pm25_clean = df_pm25_clean.sort_values(by='DATETIME', ascending=True)

# Filter just the las 24 hours
df_pm25_clean = df_pm25_clean.loc[df_pm25_clean.index >= df_pm25_clean.index[0] + pd.Timedelta(hours=24)]

df_pm25_clean.head()

,TANGARA_260A,TANGARA_2BDE,TANGARA_39D6,TANGARA_3B7E,TANGARA_3BEA,TANGARA_421A,TANGARA_5D62,TANGARA_5636,TANGARA_D282,TANGARA_4B1A,TANGARA_14D6,TANGARA_2B42,TANGARA_2E9A,TANGARA_2FF6,TANGARA_307A,TANGARA_48C6,TANGARA_F1AE,TANGARA_06BE
DATETIME,,,,,,,,,,,,,,,,,,
2023-11-18 00:00:00-05:00,7.094710,3.122275,NaN,2.604983,2.735816,2.687977,3.921046,3.165018,3.059410,6.014403,7.270301,7.257721,6.371581,6.454406,6.643826,5.347549,6.066255,7.897372
2023-11-18 01:00:00-05:00,6.991238,2.965716,NaN,2.491924,2.588985,2.560834,3.894177,2.957655,2.909634,5.983608,7.222225,7.272965,6.140078,6.454068,6.608691,5.335025,6.044135,7.942599
2023-11-18 02:00:00-05:00,6.973415,2.965716,NaN,2.491924,2.588985,2.560834,3.958047,2.957655,2.909634,5.972257,7.313219,7.329218,5.976307,6.531147,6.688253,5.432829,6.124827,8.064232
2023-11-18 03:00:00-05:00,6.930009,2.965716,NaN,2.491924,2.588985,2.560834,3.958047,2.957655,2.909634,5.974904,7.400184,7.353345,5.470342,6.408820,6.657535,5.500662,6.254978,8.075227
2023-11-18 04:00:00-05:00,7.024843,2.965716,NaN,2.491924,2.588985,2.560834,3.958047,2.957655,2.909634,6.151982,7.539941,7.353345,5.468060,6.273845,6.608328,5.577362,6.415643,8.011072

In [9]:
df_pm25_clean.tail()

,TANGARA_260A,TANGARA_2BDE,TANGARA_39D6,TANGARA_3B7E,TANGARA_3BEA,TANGARA_421A,TANGARA_5D62,TANGARA_5636,TANGARA_D282,TANGARA_4B1A,TANGARA_14D6,TANGARA_2B42,TANGARA_2E9A,TANGARA_2FF6,TANGARA_307A,TANGARA_48C6,TANGARA_F1AE,TANGARA_06BE
DATETIME,,,,,,,,,,,,,,,,,,
2023-11-18 19:00:00-05:00,5.768624,NaN,NaN,NaN,NaN,NaN,5.503235,NaN,NaN,8.287940,6.880626,4.112031,2.369802,6.527826,7.156847,3.647799,5.016667,7.139235
2023-11-18 20:00:00-05:00,6.166289,NaN,NaN,NaN,NaN,NaN,5.420305,NaN,NaN,8.550603,7.195610,4.654622,1.746441,7.113173,7.560466,3.521613,5.043750,7.199468
2023-11-18 21:00:00-05:00,6.423399,NaN,NaN,NaN,NaN,NaN,4.693740,NaN,NaN,9.764949,8.036723,5.755182,1.846795,8.184510,8.010593,3.670274,5.275000,7.887806
2023-11-18 22:00:00-05:00,6.905932,NaN,NaN,NaN,NaN,NaN,4.277724,NaN,NaN,10.068477,8.122881,7.170588,2.174359,8.451766,7.690890,4.627260,4.683333,7.477542
2023-11-18 23:00:00-05:00,5.711864,NaN,NaN,NaN,NaN,NaN,3.757576,NaN,NaN,9.948718,5.881356,9.400000,3.282051,9.711864,7.406780,6.771186,3.566667,7.805085

## Descriptive Statistics

In [10]:
# Describe Data
df_pm25_clean.describe()

,TANGARA_260A,TANGARA_2BDE,TANGARA_39D6,TANGARA_3B7E,TANGARA_3BEA,TANGARA_421A,TANGARA_5D62,TANGARA_5636,TANGARA_D282,TANGARA_4B1A,TANGARA_14D6,TANGARA_2B42,TANGARA_2E9A,TANGARA_2FF6,TANGARA_307A,TANGARA_48C6,TANGARA_F1AE,TANGARA_06BE
count,24.000000,17.000000,0.0,17.000000,17.000000,17.000000,24.000000,15.000000,17.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000
mean,6.984620,2.952039,NaN,2.534711,2.606011,2.590075,4.323170,2.970379,2.928456,7.045705,7.618922,6.713822,5.023728,6.767659,7.085166,5.253998,6.019868,7.867251
std,0.690531,0.070568,NaN,0.094648,0.064614,0.058010,0.534022,0.061594,0.044847,1.323162,0.610963,1.099740,1.540401,0.861229,0.428700,0.893825,0.829867,0.493854
min,5.429409,2.750000,NaN,2.415865,2.494620,2.519249,3.757576,2.873793,2.862963,5.860102,5.881356,4.112031,1.746441,6.047083,6.568735,3.521613,3.566667,7.017248
25%,6.785299,2.951250,NaN,2.491924,2.588985,2.560834,3.958047,2.957655,2.909634,6.121382,7.258282,6.270182,4.631083,6.288978,6.680573,4.758908,5.652918,7.545456
50%,7.067759,2.965716,NaN,2.491924,2.588985,2.560834,3.983161,2.957655,2.909634,6.404464,7.710758,7.112152,5.855850,6.465474,7.017922,5.539012,6.242096,7.892589
75%,7.511967,2.965716,NaN,2.563271,2.588985,2.596843,4.635040,2.957655,2.944177,7.429118,8.086969,7.353345,6.022987,6.840809,7.363091,5.850340,6.674172,8.094730
max,7.873098,3.122275,NaN,2.766892,2.750000,2.750000,5.503235,3.165018,3.059410,10.068477,8.440705,9.400000,6.371581,9.711864,8.010593,6.771186,6.838678,8.838900

## PM2.5 to AQI

In [11]:
# AQI DataFrame Sensors
df_aqi = df_pm25_to_df_aqi(df_pm25_clean)
df_aqi = df_aqi.astype('float')
df_aqi.head()

,TANGARA_260A,TANGARA_2BDE,TANGARA_39D6,TANGARA_3B7E,TANGARA_3BEA,TANGARA_421A,TANGARA_5D62,TANGARA_5636,TANGARA_D282,TANGARA_4B1A,TANGARA_14D6,TANGARA_2B42,TANGARA_2E9A,TANGARA_2FF6,TANGARA_307A,TANGARA_48C6,TANGARA_F1AE,TANGARA_06BE
DATETIME,,,,,,,,,,,,,,,,,,
2023-11-18 00:00:00-05:00,30.0,13.0,NaN,11.0,12.0,12.0,17.0,14.0,13.0,25.0,31.0,31.0,27.0,28.0,28.0,23.0,26.0,33.0
2023-11-18 01:00:00-05:00,30.0,13.0,NaN,11.0,11.0,11.0,17.0,13.0,13.0,25.0,31.0,31.0,26.0,28.0,28.0,23.0,25.0,33.0
2023-11-18 02:00:00-05:00,30.0,13.0,NaN,11.0,11.0,11.0,17.0,13.0,13.0,25.0,31.0,31.0,25.0,28.0,28.0,23.0,26.0,34.0
2023-11-18 03:00:00-05:00,29.0,13.0,NaN,11.0,11.0,11.0,17.0,13.0,13.0,25.0,31.0,31.0,23.0,27.0,28.0,23.0,27.0,34.0
2023-11-18 04:00:00-05:00,30.0,13.0,NaN,11.0,11.0,11.0,17.0,13.0,13.0,26.0,32.0,31.0,23.0,27.0,28.0,24.0,27.0,34.0

## Describe Statistics

In [12]:
# Describe Data
df_aqi.describe()

,TANGARA_260A,TANGARA_2BDE,TANGARA_39D6,TANGARA_3B7E,TANGARA_3BEA,TANGARA_421A,TANGARA_5D62,TANGARA_5636,TANGARA_D282,TANGARA_4B1A,TANGARA_14D6,TANGARA_2B42,TANGARA_2E9A,TANGARA_2FF6,TANGARA_307A,TANGARA_48C6,TANGARA_F1AE,TANGARA_06BE
count,24.000000,17.000000,0.0,17.000000,17.000000,17.000000,24.000000,15.000000,17.0,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000
mean,29.625000,12.941176,NaN,11.058824,11.176471,11.176471,18.500000,13.066667,13.0,29.750000,32.291667,28.500000,21.208333,28.791667,30.041667,22.333333,25.583333,33.291667
std,2.946073,0.242536,NaN,0.428746,0.392953,0.392953,2.226325,0.258199,0.0,5.635678,2.578830,4.596785,6.262234,3.671028,1.876147,3.690960,3.412466,1.966661
min,23.000000,12.000000,NaN,10.000000,11.000000,11.000000,16.000000,13.000000,13.0,25.000000,25.000000,18.000000,8.000000,25.000000,28.000000,15.000000,16.000000,30.000000
25%,28.500000,13.000000,NaN,11.000000,11.000000,11.000000,17.000000,13.000000,13.0,25.750000,31.000000,26.500000,20.000000,27.000000,28.000000,20.000000,24.500000,32.000000
50%,30.000000,13.000000,NaN,11.000000,11.000000,11.000000,17.000000,13.000000,13.0,27.000000,33.000000,30.500000,25.000000,28.000000,30.000000,23.500000,26.500000,33.000000
75%,32.000000,13.000000,NaN,11.000000,11.000000,11.000000,20.000000,13.000000,13.0,31.250000,34.000000,31.000000,25.000000,29.250000,31.000000,25.000000,28.000000,34.000000
max,33.000000,13.000000,NaN,12.000000,12.000000,12.000000,23.000000,14.000000,13.0,43.000000,36.000000,40.000000,27.000000,41.000000,34.000000,29.000000,29.000000,37.000000

## Histograms

In [13]:
# Plot Histograms
plot_hist(df_aqi) if bool(os.getenv("PLOT_CHARTS", None)) else print("PLOT_CHARTS:", False, "Plot charts were ignored")

PLOT_CHARTS: False Plot charts were ignored

## Boxplots

In [14]:
# Plot Boxplots
plot_boxes(df_aqi) if bool(os.getenv("PLOT_CHARTS", None)) else print("PLOT_CHARTS:", False, "Plot charts were ignored")

PLOT_CHARTS: False Plot charts were ignored

## Lineplots

In [15]:
# Plot Lineplots
plot_lines(df_aqi) if bool(os.getenv("PLOT_CHARTS", None)) else print("PLOT_CHARTS:", False, "Plot charts were ignored")

PLOT_CHARTS: False Plot charts were ignored

In [16]:
# Save AQI Data Frame Sensors into CSV file
df_to_csv(df_aqi, "aqi.csv", datafolder='2_features')