In [1]:
import pandas as pd
from datetime import timedelta

# Extraction

In [2]:
# Kedro Catalog
raw_data_sensors = catalog.load('raw_data_sensors')

2022-06-07 11:19:51,311 - kedro.io.data_catalog - INFO - Loading data from `raw_data_sensors` (CSVDataSet)...

In [3]:
raw_data_sensors.head()

,Datetime,Tangara_36FA,Tangara_1CE2,Tangara_1FCA,Tangara_14D6,Tangara_2FF6,Tangara_2492,Tangara_4D7A,CanAirIO_48C6,CanAirIO_532E
0,2022-03-30T00:00:00-05:00,5.0,4.0,NaN,NaN,3.0,NaN,2.0,NaN,NaN
1,2022-03-30T00:00:30-05:00,5.0,4.0,5.0,4.0,4.0,NaN,2.0,3.0,NaN
2,2022-03-30T00:01:00-05:00,4.0,NaN,5.0,5.0,4.0,NaN,2.0,2.0,NaN
3,2022-03-30T00:01:30-05:00,5.0,4.0,5.0,4.0,4.0,NaN,1.0,3.0,NaN
4,2022-03-30T00:02:00-05:00,5.0,4.0,4.0,4.0,3.0,NaN,2.0,1.0,NaN

In [4]:
raw_data_sensors.dtypes

Datetime          object
Tangara_36FA     float64
Tangara_1CE2     float64
Tangara_1FCA     float64
Tangara_14D6     float64
Tangara_2FF6     float64
Tangara_2492     float64
Tangara_4D7A     float64
CanAirIO_48C6    float64
CanAirIO_532E    float64
dtype: object

In [5]:
raw_data_sensors.describe()

,Tangara_36FA,Tangara_1CE2,Tangara_1FCA,Tangara_14D6,Tangara_2FF6,Tangara_2492,Tangara_4D7A,CanAirIO_48C6,CanAirIO_532E
count,78450.000000,78445.000000,78484.000000,78382.000000,82992.000000,63375.000000,79999.000000,78179.000000,138.000000
mean,10.005583,9.392045,10.015060,9.108915,9.524171,9.322919,2.569695,6.824365,247.528986
std,6.589178,6.268951,6.335968,5.987443,5.816021,5.796055,1.618249,106.786549,527.252681
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,5.000000,6.000000,5.000000,6.000000,5.000000,2.000000,3.000000,0.000000
50%,9.000000,8.000000,9.000000,8.000000,8.000000,8.000000,2.000000,4.000000,29.500000
75%,12.000000,12.000000,12.000000,11.000000,12.000000,11.000000,3.000000,7.000000,157.000000
max,61.000000,63.000000,58.000000,57.000000,231.000000,139.000000,60.000000,9216.000000,2000.000000

In [6]:
# Timestamp
raw_data_sensors['Timestamp'] = pd.to_datetime(raw_data_sensors['Datetime'])
raw_data_sensors.head()

,Datetime,Tangara_36FA,Tangara_1CE2,Tangara_1FCA,Tangara_14D6,Tangara_2FF6,Tangara_2492,Tangara_4D7A,CanAirIO_48C6,CanAirIO_532E,Timestamp
0,2022-03-30T00:00:00-05:00,5.0,4.0,NaN,NaN,3.0,NaN,2.0,NaN,NaN,2022-03-30 00:00:00-05:00
1,2022-03-30T00:00:30-05:00,5.0,4.0,5.0,4.0,4.0,NaN,2.0,3.0,NaN,2022-03-30 00:00:30-05:00
2,2022-03-30T00:01:00-05:00,4.0,NaN,5.0,5.0,4.0,NaN,2.0,2.0,NaN,2022-03-30 00:01:00-05:00
3,2022-03-30T00:01:30-05:00,5.0,4.0,5.0,4.0,4.0,NaN,1.0,3.0,NaN,2022-03-30 00:01:30-05:00
4,2022-03-30T00:02:00-05:00,5.0,4.0,4.0,4.0,3.0,NaN,2.0,1.0,NaN,2022-03-30 00:02:00-05:00

In [7]:
# Get Date value string
def get_date_str(timestamp):
    return timestamp.strftime('%x')

In [8]:
# Get Time value string
def get_time_str(timestamp):
    return timestamp.strftime('%T')

In [9]:
# Get Weekday value string
def get_weekday_str(timestamp):
    return timestamp.strftime('%A')

In [10]:
# Get Month value string
def get_month_str(timestamp):
    return timestamp.strftime('%B')

In [11]:
# Get Year value string
def get_year_str(timestamp):
    return timestamp.strftime('%Y')

In [12]:
# Add DateTime string values to Data Sensors
def add_datetime_str_values(raw_data_sensors):
    # Date value string
    raw_data_sensors['Date'] = raw_data_sensors['Timestamp'].transform(get_date_str)
    # Time value string
    raw_data_sensors['Time'] = raw_data_sensors['Timestamp'].transform(get_time_str)
    # Weekday value string
    raw_data_sensors['Weekday'] = raw_data_sensors['Timestamp'].transform(get_weekday_str)
    # Month value string
    raw_data_sensors['Month'] = raw_data_sensors['Timestamp'].transform(get_month_str)
    # Year value string
    raw_data_sensors['Year'] = raw_data_sensors['Timestamp'].transform(get_year_str)

    return raw_data_sensors

In [13]:
# Data Sensors with DateTime string values
data_sensors = add_datetime_str_values(raw_data_sensors)
data_sensors.head()

,Datetime,Tangara_36FA,Tangara_1CE2,Tangara_1FCA,Tangara_14D6,Tangara_2FF6,Tangara_2492,Tangara_4D7A,CanAirIO_48C6,CanAirIO_532E,Timestamp,Date,Time,Weekday,Month,Year
0,2022-03-30T00:00:00-05:00,5.0,4.0,NaN,NaN,3.0,NaN,2.0,NaN,NaN,2022-03-30 00:00:00-05:00,03/30/22,00:00:00,Wednesday,March,2022
1,2022-03-30T00:00:30-05:00,5.0,4.0,5.0,4.0,4.0,NaN,2.0,3.0,NaN,2022-03-30 00:00:30-05:00,03/30/22,00:00:30,Wednesday,March,2022
2,2022-03-30T00:01:00-05:00,4.0,NaN,5.0,5.0,4.0,NaN,2.0,2.0,NaN,2022-03-30 00:01:00-05:00,03/30/22,00:01:00,Wednesday,March,2022
3,2022-03-30T00:01:30-05:00,5.0,4.0,5.0,4.0,4.0,NaN,1.0,3.0,NaN,2022-03-30 00:01:30-05:00,03/30/22,00:01:30,Wednesday,March,2022
4,2022-03-30T00:02:00-05:00,5.0,4.0,4.0,4.0,3.0,NaN,2.0,1.0,NaN,2022-03-30 00:02:00-05:00,03/30/22,00:02:00,Wednesday,March,2022

In [14]:
# Save data_sensors into Catalog
catalog.save('pm25', data_sensors)

2022-06-07 11:19:59,945 - kedro.io.data_catalog - INFO - Saving data to `pm25` (CSVDataSet)...

# Resample by Hour

In [15]:
# Get data_sensors resample mean by hour
def resample_pm25_by_hour(data_sensors):
    pm25_by_hour = data_sensors.resample('H', on='Timestamp').mean().reset_index()
    return add_datetime_str_values(pm25_by_hour)

In [16]:
# Resample mean by Hour
pm25_by_hour = resample_pm25_by_hour(data_sensors)
pm25_by_hour.head()

,Timestamp,Tangara_36FA,Tangara_1CE2,Tangara_1FCA,Tangara_14D6,Tangara_2FF6,Tangara_2492,Tangara_4D7A,CanAirIO_48C6,CanAirIO_532E,Date,Time,Weekday,Month,Year
0,2022-03-30 00:00:00-05:00,4.500000,4.183673,4.505263,4.093750,3.897436,NaN,1.596639,1.804348,NaN,03/30/22,00:00:00,Wednesday,March,2022
1,2022-03-30 01:00:00-05:00,3.960000,3.722772,4.020833,3.705882,4.344538,NaN,1.880342,1.446809,NaN,03/30/22,01:00:00,Wednesday,March,2022
2,2022-03-30 02:00:00-05:00,5.891089,5.618557,5.907216,5.209524,4.577586,NaN,1.940678,73.990000,NaN,03/30/22,02:00:00,Wednesday,March,2022
3,2022-03-30 03:00:00-05:00,7.727273,7.366972,7.589286,7.055046,7.500000,NaN,2.791667,3.103774,NaN,03/30/22,03:00:00,Wednesday,March,2022
4,2022-03-30 04:00:00-05:00,8.156863,7.700000,7.970297,7.485149,9.235294,NaN,3.252101,3.494845,NaN,03/30/22,04:00:00,Wednesday,March,2022

In [17]:
# Save pm25_by_hour into Catalog
catalog.save('pm25_by_hour', pm25_by_hour)

2022-06-07 11:20:03,763 - kedro.io.data_catalog - INFO - Saving data to `pm25_by_hour` (CSVDataSet)...

# PM25 Movil 24 Hours

In [18]:
# Get data_sensors resample mean by movil 24h
def resample_pm25_movil_24h(pm25_by_hour):
    pm25_movil_24h = {}
    for current_datetime in pm25_by_hour['Timestamp'].to_list():
        last_24h = current_datetime - timedelta(hours=24)
        pm25_last_24h = pm25_by_hour[(pm25_by_hour['Timestamp'] <= current_datetime) & (pm25_by_hour['Timestamp'] > last_24h)].resample('D', on='Timestamp', origin='end').mean().reset_index()
        pm25_movil_24h[current_datetime.isoformat()] = pm25_last_24h
    pm25_movil_24h = pd.concat(list(pm25_movil_24h.values())).reset_index(drop=True)
    return add_datetime_str_values(pm25_movil_24h)

In [19]:
pm25_movil_24h = resample_pm25_movil_24h(pm25_by_hour)
pm25_movil_24h.tail()

,Timestamp,Tangara_36FA,Tangara_1CE2,Tangara_1FCA,Tangara_14D6,Tangara_2FF6,Tangara_2492,Tangara_4D7A,CanAirIO_48C6,CanAirIO_532E,Date,Time,Weekday,Month,Year
811,2022-05-02 19:00:00-05:00,7.702548,7.096306,8.010045,7.008392,8.269995,8.097305,2.315538,4.438555,NaN,05/02/22,19:00:00,Monday,May,2022
812,2022-05-02 20:00:00-05:00,7.684342,7.078108,7.993372,6.987025,8.328107,8.167592,2.324710,4.423391,NaN,05/02/22,20:00:00,Monday,May,2022
813,2022-05-02 21:00:00-05:00,7.657862,7.059472,7.964397,6.972061,8.439360,8.284470,2.352088,4.403869,NaN,05/02/22,21:00:00,Monday,May,2022
814,2022-05-02 22:00:00-05:00,7.822552,7.213502,8.123162,7.124488,8.637586,8.507405,2.397704,4.515105,NaN,05/02/22,22:00:00,Monday,May,2022
815,2022-05-02 23:00:00-05:00,7.874377,7.257741,8.166338,7.166383,8.822637,8.689157,2.444723,4.552705,NaN,05/02/22,23:00:00,Monday,May,2022

In [20]:
pm25_by_hour[(pm25_by_hour['Timestamp'] <= '2022-05-02 21:00:00-05:00') & (pm25_by_hour['Timestamp'] > '2022-05-01 21:00:00-05:00')].resample('D', on='Timestamp', origin='end').mean().reset_index()

,Timestamp,Tangara_36FA,Tangara_1CE2,Tangara_1FCA,Tangara_14D6,Tangara_2FF6,Tangara_2492,Tangara_4D7A,CanAirIO_48C6,CanAirIO_532E
0,2022-05-02 21:00:00-05:00,7.657862,7.059472,7.964397,6.972061,8.43936,8.28447,2.352088,4.403869,NaN

In [21]:
# Save pm25_movil_24h into Catalog
catalog.save('pm25_movil_24h', pm25_movil_24h)

2022-06-07 11:20:58,576 - kedro.io.data_catalog - INFO - Saving data to `pm25_movil_24h` (CSVDataSet)...