In [57]:
import pandas as pd

# Extraction

In [58]:
# Kedro Catalog
raw_data_sensors = catalog.load('raw_data_sensors')

2022-06-06 16:09:28,270 - kedro.io.data_catalog - INFO - Loading data from `raw_data_sensors` (CSVDataSet)...

In [59]:
raw_data_sensors.head()

,Datetime,Tangara_36FA,Tangara_1CE2,Tangara_1FCA,Tangara_14D6,Tangara_2FF6,Tangara_2492,Tangara_4D7A,CanAirIO_48C6,CanAirIO_532E
0,2022-03-30T00:00:00-05:00,5.0,4.0,NaN,NaN,3.0,NaN,2.0,NaN,NaN
1,2022-03-30T00:00:30-05:00,5.0,4.0,5.0,4.0,4.0,NaN,2.0,3.0,NaN
2,2022-03-30T00:01:00-05:00,4.0,NaN,5.0,5.0,4.0,NaN,2.0,2.0,NaN
3,2022-03-30T00:01:30-05:00,5.0,4.0,5.0,4.0,4.0,NaN,1.0,3.0,NaN
4,2022-03-30T00:02:00-05:00,5.0,4.0,4.0,4.0,3.0,NaN,2.0,1.0,NaN

In [60]:
raw_data_sensors.dtypes

Datetime          object
Tangara_36FA     float64
Tangara_1CE2     float64
Tangara_1FCA     float64
Tangara_14D6     float64
Tangara_2FF6     float64
Tangara_2492     float64
Tangara_4D7A     float64
CanAirIO_48C6    float64
CanAirIO_532E    float64
dtype: object

In [61]:
raw_data_sensors.describe()

,Tangara_36FA,Tangara_1CE2,Tangara_1FCA,Tangara_14D6,Tangara_2FF6,Tangara_2492,Tangara_4D7A,CanAirIO_48C6,CanAirIO_532E
count,78450.000000,78445.000000,78484.000000,78382.000000,82992.000000,63375.000000,79999.000000,78179.000000,138.000000
mean,10.005583,9.392045,10.015060,9.108915,9.524171,9.322919,2.569695,6.824365,247.528986
std,6.589178,6.268951,6.335968,5.987443,5.816021,5.796055,1.618249,106.786549,527.252681
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,5.000000,6.000000,5.000000,6.000000,5.000000,2.000000,3.000000,0.000000
50%,9.000000,8.000000,9.000000,8.000000,8.000000,8.000000,2.000000,4.000000,29.500000
75%,12.000000,12.000000,12.000000,11.000000,12.000000,11.000000,3.000000,7.000000,157.000000
max,61.000000,63.000000,58.000000,57.000000,231.000000,139.000000,60.000000,9216.000000,2000.000000

In [62]:
# Timestamp
raw_data_sensors['Timestamp'] = pd.to_datetime(raw_data_sensors['Datetime'])
raw_data_sensors.head()

,Datetime,Tangara_36FA,Tangara_1CE2,Tangara_1FCA,Tangara_14D6,Tangara_2FF6,Tangara_2492,Tangara_4D7A,CanAirIO_48C6,CanAirIO_532E,Timestamp
0,2022-03-30T00:00:00-05:00,5.0,4.0,NaN,NaN,3.0,NaN,2.0,NaN,NaN,2022-03-30 00:00:00-05:00
1,2022-03-30T00:00:30-05:00,5.0,4.0,5.0,4.0,4.0,NaN,2.0,3.0,NaN,2022-03-30 00:00:30-05:00
2,2022-03-30T00:01:00-05:00,4.0,NaN,5.0,5.0,4.0,NaN,2.0,2.0,NaN,2022-03-30 00:01:00-05:00
3,2022-03-30T00:01:30-05:00,5.0,4.0,5.0,4.0,4.0,NaN,1.0,3.0,NaN,2022-03-30 00:01:30-05:00
4,2022-03-30T00:02:00-05:00,5.0,4.0,4.0,4.0,3.0,NaN,2.0,1.0,NaN,2022-03-30 00:02:00-05:00

In [63]:
# Get Date value string
def get_date_str(timestamp):
    return timestamp.strftime('%x')

In [64]:
# Get Time value string
def get_time_str(timestamp):
    return timestamp.strftime('%T')

In [65]:
# Get Weekday value string
def get_weekday_str(timestamp):
    return timestamp.strftime('%A')

In [66]:
# Get Month value string
def get_month_str(timestamp):
    return timestamp.strftime('%B')

In [67]:
# Get Year value string
def get_year_str(timestamp):
    return timestamp.strftime('%Y')

In [68]:
# Add DateTime string values to Data Sensors
def add_datetime_str_values(raw_data_sensors):
    # Date value string
    raw_data_sensors['Date'] = raw_data_sensors['Timestamp'].transform(get_date_str)
    # Time value string
    raw_data_sensors['Time'] = raw_data_sensors['Timestamp'].transform(get_time_str)
    # Weekday value string
    raw_data_sensors['Weekday'] = raw_data_sensors['Timestamp'].transform(get_weekday_str)
    # Month value string
    raw_data_sensors['Month'] = raw_data_sensors['Timestamp'].transform(get_month_str)
    # Year value string
    raw_data_sensors['Year'] = raw_data_sensors['Timestamp'].transform(get_year_str)

    return raw_data_sensors

In [69]:
# Data Sensors with DateTime string values
data_sensors = add_datetime_str_values(raw_data_sensors)
data_sensors.head()

,Datetime,Tangara_36FA,Tangara_1CE2,Tangara_1FCA,Tangara_14D6,Tangara_2FF6,Tangara_2492,Tangara_4D7A,CanAirIO_48C6,CanAirIO_532E,Timestamp,Date,Time,Weekday,Month,Year
0,2022-03-30T00:00:00-05:00,5.0,4.0,NaN,NaN,3.0,NaN,2.0,NaN,NaN,2022-03-30 00:00:00-05:00,03/30/22,00:00:00,Wednesday,March,2022
1,2022-03-30T00:00:30-05:00,5.0,4.0,5.0,4.0,4.0,NaN,2.0,3.0,NaN,2022-03-30 00:00:30-05:00,03/30/22,00:00:30,Wednesday,March,2022
2,2022-03-30T00:01:00-05:00,4.0,NaN,5.0,5.0,4.0,NaN,2.0,2.0,NaN,2022-03-30 00:01:00-05:00,03/30/22,00:01:00,Wednesday,March,2022
3,2022-03-30T00:01:30-05:00,5.0,4.0,5.0,4.0,4.0,NaN,1.0,3.0,NaN,2022-03-30 00:01:30-05:00,03/30/22,00:01:30,Wednesday,March,2022
4,2022-03-30T00:02:00-05:00,5.0,4.0,4.0,4.0,3.0,NaN,2.0,1.0,NaN,2022-03-30 00:02:00-05:00,03/30/22,00:02:00,Wednesday,March,2022

In [70]:
# Save data_sensors into Catalog
catalog.save('pm25', data_sensors)

2022-06-06 16:09:36,041 - kedro.io.data_catalog - INFO - Saving data to `pm25` (CSVDataSet)...