In [1]:
from datetime import datetime
from influxdb_client import InfluxDBClient

### Getting Started with InfluxDB and Pandas
[Getting Started with InfluxDB and Pandas](https://www.influxdata.com/blog/getting-started-with-influxdb-and-pandas/)
### influxdb-client-python
[influxdb-client-python](https://github.com/influxdata/influxdb-client-python)
### Getting Started with Python and InfluxDB v2.0
[Getting Started with Python and InfluxDB v2.0](https://www.influxdata.com/blog/getting-started-with-python-and-influxdb-v2-0/)
### How to ingest DataFrame with default tags
[How to ingest DataFrame with default tags](https://github.com/influxdata/influxdb-client-python/blob/master/examples/ingest_dataframe_default_tags.py)
### How to ingest large DataFrame by splitting into chunks
[How to ingest large DataFrame by splitting into chunks](https://github.com/influxdata/influxdb-client-python/blob/master/examples/ingest_large_dataframe.py)

In [2]:
# Secrets

# You can generate an API token from the "API Tokens Tab" in the UI
url = 'http://localhost:8086'
token = "dLe3h0QEFSQksnvVmzI3B6XepdIhWCvbd-WTSbNRBt1-wxyehufqf_sjwlE7H2-6BKa1hspJUhYOkCWrtRJQsA=="
org = "Tangara"
bucket = "Tangara"

In [3]:
# Function to Ingesting each Tangara Sensor DataFrame to InfluxDB
def ingesting_influxdb(data_sensors, measurement_name):
    # For each Data Sensor
    for column in data_sensors.columns[1:]:
        # For each Data Sensor
        tangara_X = data_sensors[['DATETIME', column]].copy()
        tangara_X['FIELD'] = column
        """
        Ingest DataFrame
        """
        #print()
        #print(f"=== Ingesting DataFrame {column} via batching API ===")
        #print()
        startTime = datetime.now()

        with InfluxDBClient(url=url, token=token, org=org) as client:
            """
            Use batching API
            """
            with client.write_api() as write_api:
                write_api.write(bucket=bucket, record=tangara_X,
                                data_frame_timestamp_column='DATETIME',
                                data_frame_tag_columns=['FIELD'],
                                data_frame_measurement_name=measurement_name,
                                data_frame_timestamp_timezone='America/Bogota')
                #print()
                #print(f"Wait to finishing ingesting DataFrame {column}...")
                #print()

        #print()
        #print(f'Import finished in: {datetime.now() - startTime}')
        #print()

---

# Extraction - PM25 Raw

In [4]:
# Kedro Catalog
pm25_raw = catalog.load('pm25_raw')
# Data Frame Sensors
pm25_raw.head()

2022-09-16 19:01:59,300 - kedro.io.data_catalog - INFO - Loading data from `pm25_raw` (CSVDataSet)...

,DATETIME,TANGARA_2BBA,TANGARA_14D6,TANGARA_1CE2,TANGARA_1FCA,TANGARA_2492,TANGARA_2FF6,TANGARA_48C6,TANGARA_4D7A,TANGARA_532E,TANGARA_EA06,TANGARA_F1AE,TANGARA_FAC6,TANGARA_06BE
0,2022-09-15T19:01:30,20,72.0,14.0,27.0,14.0,16.0,2.0,0.0,2.0,1.0,7.0,2.0,21.0
1,2022-09-15T19:02:00,20,68.0,14.0,27.0,15.0,14.0,2.0,0.0,NaN,1.0,NaN,2.0,19.0
2,2022-09-15T19:02:30,20,102.0,14.0,27.0,14.0,15.0,1.0,0.0,2.0,2.0,7.0,2.0,20.0
3,2022-09-15T19:03:00,21,82.0,13.0,26.0,15.0,16.0,1.0,1.0,3.0,2.0,7.0,2.0,20.0
4,2022-09-15T19:03:30,21,79.0,14.0,25.0,15.0,15.0,1.0,1.0,2.0,2.0,7.0,2.0,20.0

In [5]:
# Ingesting each Tangara Sensor DataFrame to InfluxDB
ingesting_influxdb(pm25_raw, 'PM25_RAW')

# Extraction - PM25 Clean

In [6]:
# Kedro Catalog
pm25_clean = catalog.load('pm25_clean')
# Data Frame Sensors
pm25_clean.head()

2022-09-16 19:02:03,058 - kedro.io.data_catalog - INFO - Loading data from `pm25_clean` (CSVDataSet)...

,DATETIME,TANGARA_2BBA,TANGARA_14D6,TANGARA_1CE2,TANGARA_1FCA,TANGARA_2492,TANGARA_2FF6,TANGARA_48C6,TANGARA_4D7A,TANGARA_532E,TANGARA_EA06,TANGARA_F1AE,TANGARA_FAC6,TANGARA_06BE
0,2022-09-15T19:01:30,20.0,72.0,14.0,27.0,14.0,16.0,2.0,0.0,2.0,1.0,7.0,2.0,21.0
1,2022-09-15T19:02:00,20.0,68.0,14.0,27.0,15.0,14.0,2.0,0.0,NaN,1.0,NaN,2.0,19.0
2,2022-09-15T19:02:30,20.0,102.0,14.0,27.0,14.0,15.0,1.0,0.0,2.0,2.0,7.0,2.0,20.0
3,2022-09-15T19:03:00,21.0,82.0,13.0,26.0,15.0,16.0,1.0,1.0,3.0,2.0,7.0,2.0,20.0
4,2022-09-15T19:03:30,21.0,79.0,14.0,25.0,15.0,15.0,1.0,1.0,2.0,2.0,7.0,2.0,20.0

In [7]:
# Ingesting each Tangara Sensor DataFrame to InfluxDB
ingesting_influxdb(pm25_clean, 'PM25_CLEAN')

# Extraction - PM25 Last Hour

In [8]:
# Kedro Catalog
pm25_last_hour = catalog.load('pm25_last_hour')
# Data Frame Sensors
pm25_last_hour.head()

2022-09-16 19:02:06,519 - kedro.io.data_catalog - INFO - Loading data from `pm25_last_hour` (CSVDataSet)...

,DATETIME,TANGARA_2BBA,TANGARA_14D6,TANGARA_1CE2,TANGARA_1FCA,TANGARA_2492,TANGARA_2FF6,TANGARA_48C6,TANGARA_4D7A,TANGARA_532E,TANGARA_EA06,TANGARA_F1AE,TANGARA_FAC6,TANGARA_06BE
0,2022-09-15 20:01:00,20.805085,84.886364,20.365217,24.588235,15.149123,18.622807,5.232759,0.189655,0.871560,0.287037,8.895652,1.186441,22.878261
1,2022-09-15 21:01:00,22.432203,73.361111,21.152542,20.888889,10.853448,16.706897,1.829060,0.017241,0.709091,0.160714,6.330435,1.000000,21.043103
2,2022-09-15 22:01:00,15.474138,69.385321,19.140351,19.852174,9.844828,7.872881,1.298246,0.000000,0.763636,0.264151,10.293103,1.000000,9.798246
3,2022-09-15 23:01:00,21.362069,54.053097,19.114035,23.690265,11.939130,17.669565,8.280702,0.043103,0.891892,0.446429,15.834783,1.150442,18.012195
4,2022-09-16 00:01:00,18.369748,43.612069,17.077586,20.327731,14.504587,21.295652,8.556522,2.262712,11.300000,18.364407,13.084746,12.016949,24.558559

In [9]:
# Ingesting each Tangara Sensor DataFrame to InfluxDB
ingesting_influxdb(pm25_last_hour, 'PM25_LAST_HOUR')

# Extraction - PM25 Last 8 Hours

In [10]:
# Kedro Catalog
pm25_last_8h = catalog.load('pm25_last_8h')
# Data Frame Sensors
pm25_last_8h.head()

2022-09-16 19:02:08,276 - kedro.io.data_catalog - INFO - Loading data from `pm25_last_8h` (CSVDataSet)...

,DATETIME,TANGARA_2BBA,TANGARA_14D6,TANGARA_1CE2,TANGARA_1FCA,TANGARA_2492,TANGARA_2FF6,TANGARA_48C6,TANGARA_4D7A,TANGARA_532E,TANGARA_EA06,TANGARA_F1AE,TANGARA_FAC6,TANGARA_06BE
0,2022-09-16 03:01:00,17.472734,54.863637,18.569374,20.713700,12.343004,15.894898,6.983521,1.189430,5.812730,8.925512,11.102392,6.151583,18.003314
1,2022-09-16 11:01:00,14.052131,19.114001,12.504145,16.356304,15.630072,17.414810,13.784850,3.669379,15.381087,32.214138,14.942357,18.323028,20.177731
2,2022-09-16 19:01:00,15.748010,29.799605,NaN,20.186099,12.314595,14.882902,11.873490,2.720748,10.091141,19.173790,18.811913,12.882717,16.927897

In [11]:
# Ingesting each Tangara Sensor DataFrame to InfluxDB
ingesting_influxdb(pm25_last_8h, 'PM25_LAST_8H')

# Extraction - PM25 Last 12 Hours

In [12]:
# Kedro Catalog
pm25_last_12h = catalog.load('pm25_last_12h')
# Data Frame Sensors
pm25_last_12h.head()

2022-09-16 19:02:10,023 - kedro.io.data_catalog - INFO - Loading data from `pm25_last_12h` (CSVDataSet)...

,DATETIME,TANGARA_2BBA,TANGARA_14D6,TANGARA_1CE2,TANGARA_1FCA,TANGARA_2492,TANGARA_2FF6,TANGARA_48C6,TANGARA_4D7A,TANGARA_532E,TANGARA_EA06,TANGARA_F1AE,TANGARA_FAC6,TANGARA_06BE
0,2022-09-16 07:01:00,16.133329,42.759854,16.645645,19.400427,12.611857,15.636006,7.761783,1.778082,7.855721,13.811175,11.942420,8.742890,17.999135
1,2022-09-16 19:01:00,15.381921,26.424975,12.112089,18.770309,14.246591,16.492400,14.018968,3.274956,13.000919,26.397784,17.962021,16.161995,18.740160

In [13]:
# Ingesting each Tangara Sensor DataFrame to InfluxDB
ingesting_influxdb(pm25_last_12h, 'PM25_LAST_12H')

# Extraction - PM25 Last 24 Hours

In [14]:
# Kedro Catalog
pm25_last_24h = catalog.load('pm25_last_24h')
# Data Frame Sensors
pm25_last_24h.head()

2022-09-16 19:02:11,795 - kedro.io.data_catalog - INFO - Loading data from `pm25_last_24h` (CSVDataSet)...

,DATETIME,TANGARA_2BBA,TANGARA_14D6,TANGARA_1CE2,TANGARA_1FCA,TANGARA_2492,TANGARA_2FF6,TANGARA_48C6,TANGARA_4D7A,TANGARA_532E,TANGARA_EA06,TANGARA_F1AE,TANGARA_FAC6,TANGARA_06BE
0,2022-09-16 19:01:00,15.757625,34.592414,15.738934,19.085368,13.429224,16.064203,10.754349,2.526519,10.42832,20.10448,14.952221,12.452443,18.369647

In [15]:
# Ingesting each Tangara Sensor DataFrame to InfluxDB
ingesting_influxdb(pm25_last_24h, 'PM25_LAST_24H')

---

# Extraction - AQI Instant

In [16]:
# Kedro Catalog
aqi_instant = catalog.load('aqi_instant')
# Data Frame Sensors
aqi_instant.head()

2022-09-16 19:02:13,550 - kedro.io.data_catalog - INFO - Loading data from `aqi_instant` (CSVDataSet)...

,DATETIME,TANGARA_2BBA,TANGARA_14D6,TANGARA_1CE2,TANGARA_1FCA,TANGARA_2492,TANGARA_2FF6,TANGARA_48C6,TANGARA_4D7A,TANGARA_532E,TANGARA_EA06,TANGARA_F1AE,TANGARA_FAC6,TANGARA_06BE
0,2022-09-15T19:01:30,68.0,160.0,55.0,83.0,55.0,60.0,9.0,0.0,9.0,5.0,30.0,9.0,70.0
1,2022-09-15T19:02:00,68.0,158.0,55.0,83.0,58.0,55.0,9.0,0.0,NaN,5.0,NaN,9.0,66.0
2,2022-09-15T19:02:30,68.0,176.0,55.0,83.0,55.0,58.0,5.0,0.0,9.0,9.0,30.0,9.0,68.0
3,2022-09-15T19:03:00,70.0,165.0,53.0,81.0,58.0,60.0,5.0,5.0,13.0,9.0,30.0,9.0,68.0
4,2022-09-15T19:03:30,70.0,164.0,55.0,79.0,58.0,58.0,5.0,5.0,9.0,9.0,30.0,9.0,68.0

In [17]:
# Ingesting each Tangara Sensor DataFrame to InfluxDB
ingesting_influxdb(aqi_instant, 'AQI_INSTANT')

# Extraction - AQI Last Hour

In [18]:
# Kedro Catalog
aqi_last_hour = catalog.load('aqi_last_hour')
# Data Frame Sensors
aqi_last_hour.head()

2022-09-16 19:02:17,006 - kedro.io.data_catalog - INFO - Loading data from `aqi_last_hour` (CSVDataSet)...

,DATETIME,TANGARA_2BBA,TANGARA_14D6,TANGARA_1CE2,TANGARA_1FCA,TANGARA_2492,TANGARA_2FF6,TANGARA_48C6,TANGARA_4D7A,TANGARA_532E,TANGARA_EA06,TANGARA_F1AE,TANGARA_FAC6,TANGARA_06BE
0,2022-09-15 20:01:00,70,167,69.0,78,58,65,22.0,1,4,2,38,5,74
1,2022-09-15 21:01:00,73,161,71.0,70,46,61,8.0,0,3,1,27,5,70
2,2022-09-15 22:01:00,59,159,66.0,68,41,33,6.0,0,4,2,43,5,41
3,2022-09-15 23:01:00,71,147,66.0,76,50,63,35.0,0,4,2,59,5,64
4,2022-09-16 00:01:00,65,121,62.0,69,57,71,36.0,10,48,65,54,50,78

In [19]:
# Ingesting each Tangara Sensor DataFrame to InfluxDB
ingesting_influxdb(aqi_last_hour, 'AQI_LAST_HOUR')

# Extraction - AQI Last 8 Hours

In [20]:
# Kedro Catalog
aqi_last_8h = catalog.load('aqi_last_8h')
# Data Frame Sensors
aqi_last_8h.head()

2022-09-16 19:02:19,042 - kedro.io.data_catalog - INFO - Loading data from `aqi_last_8h` (CSVDataSet)...

,DATETIME,TANGARA_2BBA,TANGARA_14D6,TANGARA_1CE2,TANGARA_1FCA,TANGARA_2492,TANGARA_2FF6,TANGARA_48C6,TANGARA_4D7A,TANGARA_532E,TANGARA_EA06,TANGARA_F1AE,TANGARA_FAC6,TANGARA_06BE
0,2022-09-16 03:01:00,63,149,65.0,70,52,59,30,5,25,38,47,26,64
1,2022-09-16 11:01:00,56,66,52.0,61,59,63,55,16,58,94,57,65,69
2,2022-09-16 19:01:00,59,89,NaN,69,52,57,50,12,43,66,66,53,62

In [21]:
# Ingesting each Tangara Sensor DataFrame to InfluxDB
ingesting_influxdb(aqi_last_8h, 'AQI_LAST_8H')

# Extraction - AQI Last 12 Hours

In [22]:
# Kedro Catalog
aqi_last_12h = catalog.load('aqi_last_12h')
# Data Frame Sensors
aqi_last_12h.head()

2022-09-16 19:02:20,851 - kedro.io.data_catalog - INFO - Loading data from `aqi_last_12h` (CSVDataSet)...

,DATETIME,TANGARA_2BBA,TANGARA_14D6,TANGARA_1CE2,TANGARA_1FCA,TANGARA_2492,TANGARA_2FF6,TANGARA_48C6,TANGARA_4D7A,TANGARA_532E,TANGARA_EA06,TANGARA_F1AE,TANGARA_FAC6,TANGARA_06BE
0,2022-09-16 07:01:00,60,119,61,67,53,59,33,8,33,55,50,37,64
1,2022-09-16 19:01:00,58,82,51,66,56,61,55,14,53,82,64,60,65

In [23]:
# Ingesting each Tangara Sensor DataFrame to InfluxDB
ingesting_influxdb(aqi_last_12h, 'AQI_LAST_12H')

# Extraction - AQI Last 24 Hours

In [24]:
# Kedro Catalog
aqi_last_24h = catalog.load('aqi_last_24h')
# Data Frame Sensors
aqi_last_24h.head()

2022-09-16 19:02:22,541 - kedro.io.data_catalog - INFO - Loading data from `aqi_last_24h` (CSVDataSet)...

,DATETIME,TANGARA_2BBA,TANGARA_14D6,TANGARA_1CE2,TANGARA_1FCA,TANGARA_2492,TANGARA_2FF6,TANGARA_48C6,TANGARA_4D7A,TANGARA_532E,TANGARA_EA06,TANGARA_F1AE,TANGARA_FAC6,TANGARA_06BE
0,2022-09-16 19:01:00,59,99,59,66,54,60,46,11,44,68,58,52,65

In [25]:
# Ingesting each Tangara Sensor DataFrame to InfluxDB
ingesting_influxdb(aqi_last_24h, 'AQI_LAST_24H')